::-webkit-scrollbar {
            
    width: 40px;
    
}

::-webkit-scrollbar-track{

    border-radius: 10px;

}

::-webkit-scrollbar-thumb {

    background: #fff;
    border: 15px solid #1f2230;
    border-radius: 50px;

}


body {

    position: absolute;
    top: 0; 

    width: 100%;

    margin: 0;

    background: #fff;
    color: #000;
    
    letter-spacing: 3px;
    
    overflow-x: hidden;

}

.main {

    height: 0px;
    width: 100%;

}

button {

    background: none;
    border: none;
    cursor: pointer;

}

button:focus, input:focus {

    outline: none;

}

a {color: inherit;}

h1 {margin: 0;}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

img {

    object-fit: contain;

}

header {

    position: fixed;
    top: 70px;
    left: 200px;

    width: calc(100% - 400px);

    padding: 20px;

    border-radius: 200px;

    z-index: 10;

    background-color: rgba(255, 255, 255, 0.9);
    color: #780117;

    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);

}

.logo {

    position: relative;
    left: 10px;

    width: 95px;
    height: 95px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 200px;

    box-shadow: 5px 5px 10px #b5b5b5,
        -5px -5px 10px #ffffff;

}

.logo.in {

    box-shadow: inset 5px 5px 10px #b5b5b5,
        inset -5px -5px 10px #ffffff;

}

.logo svg {

    transform: scale(0.5);

}

#contactForm {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 0;

    background-color: rgba(0, 0, 0, 0.85);

    z-index: 11;

}

.contact-form-wrapper {

    position: relative;

    width: 350px;
    height: 370px;

    border-radius: 30px;

    background: #fff;

}

#closeContactForm {

    position: absolute;
    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 200px;

    font-size: 50px;
    font-weight: bold;

    cursor: pointer;

    box-shadow:  2px 2px 8px #b5b5b5,
        -2px -2px 8px #ffffff;

}

#closeContactForm.in {

    box-shadow: inset 2px 2px 8px #b5b5b5,
        inset -2px -2px 8px #ffffff;

}

#closeContactForm svg {

    transform: scale(1.2);

}

.contact-form {

    position: relative;
    top: 100px;
    left: 40px;

}

.contact-form input {

    width: 210px;
    height: 60px;

    display: block;

    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;

    background: none;
    border: none;
    border-radius: 200px;

    box-shadow: inset 2px 2px 8px #b5b5b5,
        inset -2px -2px 8px #ffffff;

    font-size: 25px;

}

#sendFormBtn {

    position: relative;
    top: 20px;

    width: 260px;
    height: 60px;

    border-radius: 200px;

    box-shadow: 2px 2px 8px #b5b5b5,
        -2px -2px 8px #ffffff;

    font-size: 25px;
    
}

#sendFormBtn[disabled] {

    cursor: not-allowed;
    opacity: 0.8;

}

#sendFormBtn.in {

    box-shadow: inset 2px 2px 8px #b5b5b5,
        inset -2px -2px 8px #ffffff;

}

.section-links {

    position: relative;
    left: -20px;

}

.section-link {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.section-link::after {

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 6px;
    border-radius: 100px;
    background-color: #780117;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;

}

.section-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

ul {list-style-type: none;}

.section-link {

    font-size: 30px;

    margin-right: 50px;

    float: left;

    cursor: pointer;

}

.contact-btn-pc {

    width: 380px;
    height: 90px;

    border-radius: 200px;

    color: #780117;

    font-size: 30px;

    box-shadow:  5px 5px 10px #b5b5b5,
        -5px -5px 10px #ffffff;

}

.contact-btn-mobile {

    width: 180px;
    height: 90px;

    border-radius: 200px;

    color: #780117;

    font-size: 30px;

    box-shadow:  5px 5px 10px #b5b5b5,
        -5px -5px 10px #ffffff;

}

#contactBtn.in {

    box-shadow: inset 5px 5px 10px #b5b5b5,
        inset -5px -5px 10px #ffffff;

}

.s1 {

    position: relative;
    top: -140px;
    left: 0;

    width: 100%;
    height: 1400px;

    margin: 0;

    background: #770016;
    color: #e7bfe9;

    border-radius: 0 0 200px 200px;

    text-align: center;

    z-index: 7;
    
}

.content {

    position: relative;
    top: 200px;

}

.text {

    position: relative;

}

.key-svg {

    position: relative;
    top: 460px;

    transform: scale(1.9);

}

.head1 {

    font-size: 150px;

}

.h1-1 {

    font-weight: normal;

}

.h1-2 {

    font-size: 230px;
    font-weight: 500;

}

.last {

    position: relative;
    top: -40px;

}

.desc1 {

    font-size: 60px;

}

#ctaBtn {

    position: relative;
    top: 70px;

    width: 550px;
    height: 90px;

    border-radius: 200px;

    color: white;

    font-size: 37px;

    box-shadow:  5px 5px 16px #41010c,
    -5px -5px 16px #af0122;

}

#ctaBtn.in {

    box-shadow: inset 5px 5px 16px #41010c,
    inset -5px -5px 16px #af0122;

}

.s2 {

    position: relative;
    top: -180px;
    left: 0;
    
    width: 100%;
    height: 1400px;

    display: flex;
    justify-content: center;
    
    background: #fff;
    
    color: #fff5fe;
    
    text-align: center;
    
    z-index: 6;

    border-radius: 0 0 200px 200px;

}

.content2 {

    position: relative;
    top: 0px;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text2 {

    position: relative;
    top: -40px;

}

.text2 h1 {

    font-size: 100px;

    color: #1f2230;


}

.portfolio-works {

    position: relative;
    top: 150px;

    width: 1500px;
    height: 900px;

    display: flex;
    

}

.portfolio-work {

    width: 1200px;
    height: 600px;

    border-radius: 30px;

}

.portfolio-work-image {

    width: 100%;
    height: 100%;

    border-radius: 30px;

}

.portfolio-work-image img {

    width: 100%;
    height: 100%;

    border-radius: 30px;

}

.portfolio-control {

    position: relative;
    top: 230px;

    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px;

    border-radius: 200px;

    box-shadow: 5px 5px 10px #b5b5b5,
        -5px -5px 10px #ffffff;

}

.portfolio-control.in {

    box-shadow: inset 5px 5px 10px #b5b5b5,
        inset -5px -5px 10px #ffffff;

}

#previousWork {

    padding-right: 10px;

}

#nextWork {

    transform: scaleX(-1);

}

.portfolio-control-svg {

    transform: scale(0.7);

}

#portfolio2 {

    position: relative;
    left: 0;
    top: -600px;

    opacity: 0;

}

#portfolio3 {

    position: relative;
    left: 0;
    top: -1210px;

    opacity: 0;

}

.s3 {

    position: relative;
    top: -480px;

    width: 100%;
    height: 1400px;

    background: #32825C;

    border-radius: 0 0 200px 200px;

    text-align: center;

    z-index: 5;

}

.section-title {

    position: relative;
    top: 250px;

    font-size: 100px;

    color: #EBFADC;

}

.contacts {

    top: -200px;

}

.plans {

    position: relative;
    top: 320px;
    left: 5%;
    
    width: calc(90% + 75px);
    height: 0px;

    display: flex;
    justify-content: center;

}

.plan {

    position: relative;

    width: 330px;
    height: 500px;

    margin-right: 100px;

    background: #EBFADC;

    float: left;
    
    border-radius: 30px;

}

.icon-wrapper {

    position: absolute;
    left: 85px;
    top: -80px;

    width: 160px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;


    background: #065E3A;

    border-radius: 200px;

}

.plan .text {

    position: relative;
    top: 110px;
    left: 25px;

    width: 280px;
    height: 380px;
}

.plan-title {

    font-size: 40px;

    color: #08341A;

    margin: 0;

}

.plan-price {

    position: relative;
    top: 15px;

    font-size: 27px;

}

.plan-duration {

    position: relative;
    top: 50px;

    font-size: 22px;

}

.cta-btn {

    position: absolute;
    bottom: 20px;
    left: 50px;

    width: 230px;
    height: 60px;

    background: #EBFADC;
    color: #065E3A;

    box-shadow:  5px 5px 10px #bcc8b0,
             -5px -5px 10px #ffffff;

    border-radius: 200px;

    font-size: 25px;
    font-weight: bold;

}

#websiteText {font-family: PDI;}

.s4 {

    position: relative;
    top: -690px;
    
    height: 400px;

    background: #000;
    color: #fff;

    z-index: 4;

}

.s4-content {

    position: relative;
    top: 250px;

}

.bottom-nav-sections {

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.bottom-nav-section {

    height: 100px;

    margin-right: 100px;

}

.copyright {

    font-size: 30px;

}

.partner-img-wrapper {

    height: 50px;

}

.partners {

    position: relative;
    top: -10px;

}

.partner-svg {

    margin-right: 30px;

}

.contacts {

    position: relative;
    top: 13px;

}

.contact {

    margin-bottom: 30px;

}

.contact svg {

    float: left;

    margin-right: 15px;

}

.contact-btn-mobile {display: none;}

@media screen and (max-width: 670px) {

    .partner-svg {

        margin: 0;
        margin-bottom: 20px;

    }

    .contacts {

        position: absolute;
        top: 450px;

    }

}

@media screen and (min-width: 670px) {

    .contacts {

        top: 150px;

    }

}

@media screen and (max-width: 1600px) {

    .section-links {

        display: none;

    }

    .contact-btn-pc {

        display: none;

    }

    .contact-btn-mobile {

        display: block;

    }

    .s1 {

        height: 1000px;

    }

    .key-svg {

        top: 190px;
        left: -80px;
    
        transform: scale(0.6);

    }
    
    .content {

        top: 240px;

    }

    .head1 {

        font-size: 45px;

    }

    .h1-2 {

        position: relative;
        top: -8px;

        font-size: 85px;

    }

    #ctaBtn {

        position: relative;
        top: 20px;

        width: 300px;

        font-size: 30px;

    }

    .s2 {

        top: 30px;

        height: 900px;

    }

    .content2 {

        top: -100px;

    }

    .text2 h1 {

        font-size: 60px;

    }

    .portfolio-works {

        position: relative;
        top: 30px;

        width: 100%;

    }

    .portfolio-control {

        width: 40px;
        height: 40px;

    }

    .s3 {

        top: -310px;

        height: 3300px;

    }

    .plans {

        display: block;

    }

    .plan {

        margin-bottom: 150px;

    }

    .s4 {

        top: -550px;

        height: 850px;

        text-align: center;

    }

    .bottom-nav-sections {

        display: block; 

        text-align: center;

    }

    .bottom-nav-section {

        margin: 0;

        display: flex;
        justify-content: center;

    }


    .copyright {

        position: relative;
        top: -20px;

        width: 100%;

    }

    .partners {

        top: 20px;

    }

}

@media screen and (min-width: 670px) and (max-width: 1000px) {

    .contacts {

        position: absolute;
        top: 350px;

    }

}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    .s1 {

        height: 1300px;

    }

    .key-svg {

        top: 320px;
        left: 20px;
    
        transform: scale(1.2);

    }
    
    .content {

        top: 240px;

    }

    .head1 {

        font-size: 90px;

    }

    .h1-2 {

        position: relative;
        top: -8px;

        font-size: 170px;

    }

    #ctaBtn {

        position: relative;
        top: 20px;

        width: 300px;

        font-size: 30px;

    }

    .portfolio-control {

        width: 50px;
        height: 50px;

    }

}

@media screen and (min-width: 910px) and (max-width: 1600px) {

    .s3 {

        height: 1900px;

    }

}


@media screen and (max-width: 500px) {

    .s1 {

        height: 900px;

    }

    .key-svg {

        top: 163px;
        left: -80px;
    
        transform: scale(0.48);

    }
    
    .content {

        top: 240px;

    }

    .head1 {

        font-size: 35px;

    }

    .h1-2 {

        position: relative;
        top: -8px;

        font-size: 60px;
        
        line-height: 100px;

    }

}

@media screen and (min-width: 800px) {

    .key-svg {

        left: 0;


    }

}
 

@media screen and (max-width: 420px) {

    .head1 {

        font-size: 45px;

    }

    .h1-2 {

        position: relative;
        top: -8px;

        font-size: 85px;

    }

    #ctaBtn {

        position: relative;
        top: 20px;

        width: 250px;

        font-size: 30px;

    }

}

@media screen and (min-width: 350px) and (max-width: 775px) {

    header {

        left: 30px;

        width: calc(100% - 130px);

    }

}